/* Imports */
@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=STIX+Two+Text:ital,wght@0,400..700;1,400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Instrument+Serif:ital@0;1&display=swap');

/* Root variables */
:root {
  --background-color: #fff;
  --text-color: #333;
  --link-color: #e54f2d; /* New accent color */
  --hr-gradient: linear-gradient(to right, #e0e0e0, #c0c0c0, #e0e0e0);
  --hr-symbol-background: #f7f7f7;
  --input-background: #e5e5ea;
  --button-background: #e54f2d; /* New accent color */
  --button-text-color: #fff;
  --time-color: #999;
  --small-color: #999;
  --footer-border-color: #ddd;
  --email-color: #666;
}

/* Dark mode variables */
.dark-mode {
  --background-color: #111;
  --text-color: #f0f0f0;
  --link-color: #e54f2d; /* Same accent color for dark mode */
  --hr-gradient: linear-gradient(to right, #2a2a2a, #5f5f5f, #2a2a2a);
  --hr-symbol-background: #1a1a1a;
  --input-background: #2a2a2a;
  --button-background: #e54f2d; /* Same accent color for dark mode */
  --button-text-color: #111;
  --time-color: #6e6e76;
  --small-color: #6e6e76;
  --footer-border-color: #2a2a2a;
  --email-color: #6e6e76;
}

/* Base styles */
body {
  margin: 20px auto;
  max-width: 650px;
  line-height: 1.5;
  font-size: 16px;
  padding: 0 10px;
  max-height: 100vh;
  font-family: "Instrument Sans", "Inter", "Familjen Grotesk", sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}

h1, h2, h3 {
  line-height: 1.2;
}
.avatar{
  max-height: 48px;
  border-radius: 50%;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
.content a {
  color: var(--text-color);
  text-decoration: none;
  border-bottom: 1px solid var(--link-color);
}


/* Typography */
.title {
  font-size:4em;
  line-height: 1.2;
  font-weight: 500;
  letter-spacing: -4px;
  margin-top: 0;
  margin-bottom: 0;
}

.content {
  font-family: "Newsreader","STIX Two Text",  serif;
  font-size: 1.1rem;
}

.serif {
  font-family: "Instrument Serif", "STIX Two Text", "Newsreader",serif;
}

.site-name {
  font-size: 1.2em;
  font-weight: 500;
}

.fw500 {
  font-weight: 500;
}

.monospace {
  font-family: Courier, monospace;
}

/* Form elements */
input {
  border: none;
  font-size: 16px;
  background: var(--input-background);
  padding: 7px 10px;
  border-radius: 4px;
  font-family: Inter, sans-serif;
  color: var(--small-color);
}

button {
  background: var(--button-background);
  border: none;
  padding: 7px 10px;
  color: var(--button-text-color);
  font-weight: 500;
  border-radius: 4px;
  font-size: 1em;
  font-family: Inter, sans-serif;
}
button:hover {
  /* color: #fff; */
  text-align: center;
  transition: all 0.2s ease-in-out;
  box-shadow: 0 0 5px rgba(229, 79, 45, 0.5); /* Optional: Soft glow effect */
  box-sizing: border-box;
}


/* Horizontal rule */
hr {
  border: none;
  height: 1px;
  background: linear-gradient(to right, transparent, #e54f2d, transparent);
  position: relative;
  margin: 1rem 0;
}








/* Navigation */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav > div > img {
  margin-right: 5px;
}

nav > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
}

nav > ul > li {
  list-style-type: none;
  margin-left: 15px;
}

nav > ul > li > a {
  color: var(--text-color);
}

/* Footer */
footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid var(--footer-border-color);
  margin-top: 20px;
}

footer > ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding-left: 0;
}

footer ul > small > li {
  list-style-type: none;
  margin-left: 15px;
}

.small-footer {
  display: flex;
}

/* Utility classes */
time {
  color: var(--time-color);
}

small {
  color: var(--small-color);
}

.email {
  color: var(--email-color);
}

.ph-fill, .ph-duotone {
  font-size: 24px;
  color: var(--link-color);
}

/* Post list */
.post_list {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post_link {
  color: var(--text-color);
  font-size: 1.1em;
}

/* Sign-up form */
#signup-form {
  display: flex;
  justify-content: space-between;
}

.subEmail {
  flex-grow: 0.7;
}

.submitButton {
  flex-grow: 0.2;
}

/* Success message */
#success-message {
  display: none;
  background-color: #27a04f36;
  padding: 0.5em;
  border-radius: 10px;
  border: 1px solid #27a04f;
}

#success-message p {
  margin: 0;
}

::selection {
  background: #e64b2b; 
  color: white;
}
::-moz-selection {
  background: #e64b2b; /* Gecko Browsers */
  color: white;

}

input, textarea, select, button {
  outline: none;
  border: 2px solid transparent; /* Keeps space reserved */
  padding: 8px; /* Adjust as needed */
}

input:focus, textarea:focus, select:focus, button:focus {
  border-color: #e54f2d; /* Changes color instead of adding new border */
  box-shadow: 0 0 5px rgba(229, 79, 45, 0.5); /* Optional: Soft glow effect */
}

