@import url("https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap");

@import url(https://rsms.me/inter/inter.css);

::selection {
  background: #111;
  color: white;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding: 5vh clamp(1rem, 5vw, 3rem) 1rem;
  font-family: "Public Sans", system-ui, sans-serif;
  line-height: 1.5;
  background-color: #fefefe;
}
body {
  max-width: 600px;
  color: #000;
}
h1,
h2,
h3,
h4 {
  font-size: 20px;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: #666;
}

a:hover {
  text-decoration: none;
}

.serif {
  font-family: "Newsreader",Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
}

.title {
  font-family: "Newsreader", serif;
  font-size: x-large;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: italic;
  line-height: 1.25;
}
.grey {
  color: #999;
}

.no_margin {
  margin: 0;
}

.subtext {
  font-size: 14px;
}

.post_link {
  text-decoration: underline;
  text-decoration-color: #eee;
  flex-wrap: wrap;
  color: #333;
}
.post_link:hover {
  text-decoration: underline;
  text-decoration-color: #eee;
}

.post_list {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.post_list_date {
  min-width: 100%;
  white-space: nowrap;
}
.back_link:hover {
  text-decoration: none;
}

time {
  background: none;
  color: #999;
  color: var(--code);
  padding: 0;
  border-radius: 0;
  font-size: 14px;
}

.f_links {
  text-decoration: none;
  margin: 0 !important;
  padding: 0 !important;
  font-size: 14px;
}
.f_links:hover {
  text-decoration: none;
  color: #000;
}
footer {
  border-top: 1px solid #ddd;
}

a[href^="https://"]::after
{
  content: "↗";
}

a[href^="mailto\:"]::before {
  content: "";
}
.reach {
  font-size: 14px;
}
/* @media (prefers-color-scheme: dark) {
  ::selection {
    background: white;
    color: black;
  }
  body {
    color: #ddd;
    background-color: #000;
  }
  .grey {
    color: #888;
  }
  .post_link {
    text-decoration: underline;
    text-decoration-color: #333;
    color: #aaa;
  }
  .post_link:hover {
    text-decoration: underline;
    text-decoration-color: #333;
  }

  .title {
    color: #eee;
  }

  .content {
    color: #eee;
  }

  .back_link {
    color: #666;
  }

  .f_links:hover {
    text-decoration: none;
    color: #eee;
  }

  footer {
    border-top: 1px solid #666;
  }
} */
