

<footer>
  <small class="grey">&copy; Advik Samar <span id="currentYear"></span></small>
  <ul>
  <small class="small-footer">
  <li><a href='/books'>Books</a></li>
  <li><a href='/feed.xml'>RSS</a></li>

  </small>
  </ul>
  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();

      (function() {
        const endpoint = "https://views.asav.workers.dev/"; 

        async function trackPageView() {
          try {
            const response = await fetch(endpoint + window.location.pathname, { method: "GET" });
            const data = await response.json();
            console.log(`Page Views: ${data.views}`);
          } catch (error) {
            console.error("Analytics tracking failed:", error);
          }
        }

        // Delay tracking slightly to avoid blocking rendering
        setTimeout(trackPageView, 1000);
      })();

</script>
</footer>