

<footer>
  <small class="grey">&copy; Advik Samar <span id="currentYear"></span></small>
  <ul>
  <small class="small-footer">
  <li><a href='/books'>Books</a></li>
  <li><a href='/feed.xml'>RSS</a></li>

  </small>
  </ul>
  <script>
    document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
</footer>