

<footer>
  <small class="grey">&copy; Advik Samar 2024</small>
  <ul>
  <small class="small-footer">
  <li><a href='/books'>Books</a></li>
  <li><a href='/feed.xml'>RSS</a></li>

  </small>
  </ul>
  
</footer>