<head>
<script defer src="https://cloud.umami.is/script.js" data-website-id="c6941957-c467-4d9e-a011-cf2040457205"></script>
  <link rel="icon" type="image/x-icon" href="https://emojicdn.elk.sh/%F0%9F%A5%BD">
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta name="robots" content="index, follow">
  <meta name="author" content="Advik Samar">
  <meta name="robots" content="max-snippet:-1, max-image-preview:large, max-video-preview:-1">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  <script src="https://unpkg.com/@phosphor-icons/web"></script>
  <title>{{ title or metadata.title }}</title>
  <meta
    name="description"
    content="{{ metaDescription or eleventyComputed.metaDescription or metadata.description }}"
  />
   {% set css %} {% include "assets/css/inline.css" %} {% endset %}
  <style>
    {{ css | cssmin | safe }}
  </style>
</head>
