<style>
nav{
display: flex;
align-items: center;
justify-content: space-between;
}
nav > ul {
display: flex;
flex-wrap: wrap;
justify-content: flex-start;
padding-left: 0;

}

nav > ul > li{
list-style-type: none;
margin-left: 15px;
}

nav > ul > li > a {
color: black;
}

</style>

<nav>
  <a href="{{ '/' | url }}" class="site-name">{{ metadata.title }}</a>
  <ul>
      <a href="https://mas.to/@advik" target="_blank"><i class="ph-duotone ph-mastodon-logo"></i></a>
  </ul>
</nav>
