

<nav>
<div>
<a href="/"><img src='https://i.postimg.cc/vmncYhmq/avatar.jpg' class="avatar" height="48" width="48" alt="Advik's avatar" href="/"></a>
 <!-- <a href="{{ '/' | url }}" class="site-name">{{ metadata.title }}</a> -->
  </div>
  <ul>
     <span> <i class="ph-duotone ph-toggle-left" id="btn"> </span>
    <!--  <a href="https://mas.to/@advik" target="_blank"><i class="ph-duotone ph-mastodon-logo"></i></a> -->
  
  </ul>
</nav>
