<section>
	{% for post in postslist | reverse %}
		<article{% if post.url == url %} data-current="current item"{% endif %} class="post_list">
				<a href="{{ post.url | url }}" class="post_link">
					{% if post.data.title %}
						{{ post.data.title }}
					{% else %}
						Untitled
					{% endif %}
				</a>
				<small style="margin-left: 5px">
					<time class="grey post_list_date" datetime="{{ post.date | machineDate }}">
						{{ post.date | readableDate }}
					</time>
				</small>
		</article>
	{% endfor %}
</section>
