<style>
ul{
padding-left: 0;
}
li{
list-style:none;
border-bottom: 1px solid #e54f2d;
max-width: fit-content;
margin-bottom: 5px;
}
</style>
{% if related and related.length > 0 %}
<section>
    <p class="serif">Related Posts</p>
    <ul>
        {% for post in related %}
        <li>
            <a href="{{ post.url | url }}">{{ post.data.title }}</a>
        </li>
        {% endfor %}
    </ul>
</section>
{% else %}
<p class="serif">✸ Related Posts ✸</p>
<p>No related posts found. ¯\_(ツ)_/¯</p>
{% endif %}
