<style>
input{
background: #c6f3bf;
color: #000;
}
::placeholder {
  color: #14400c;
  opacity: 0.8; /* Firefox */
}

::-ms-input-placeholder { /* Edge 12 -18 */
  color: #14400c;
}

input:focus , .submit:focus{
  outline: none !important;
  border: none !important;
  
 } 
.sub{
    padding: 0.5em;
    border-radius: 10px;
    border: 1px solid #c6f3bf;
}

    #success-message{
        display: none;
        background-color: #27a04f36;
        padding: 0.5em;
        border-radius: 10px;
        border: 1px solid #27a04f;
    }
    
    #success-message p {
        margin: 0;
    }

.forform {
    display: flex;
    flex-wrap: wrap;
}



.subEmail{
  flex-grow: 2;
   margin-right: 5px;
}

.subButton {
    flex-basis: auto;
    background-color: #000!important;
    color: #c6f3bf;
    /* border: 1px solid #ccc; */
    font-size: 14px;
    font-weight: bold;
}


    </style>

<!-- Styling ends and HTML starts -->


<div class="sub">
 

<div id="bust" style="display: block;">
        <p class="CTA">Subscribe to my newsletter for a monthly round-up of new blog posts and projects I’m working on! </p>
        <div class="subform">
            <form id="signup-form" class="forform" method="post" action="https://app.convertkit.com/forms/3277206/subscriptions">
                <input class="subEmail" type="email" name="email_address" required placeholder="your@email.com">
                <input class="subButton" type="submit" value="Subscribe">
            </form>
            <div id="success-message" class="success-message">
                <p >Congratulations 🎉</p>
                <p>In just a moment, you'll be receiving my welcome email.</p> 
                
        </div>
        

    </div>
</div>
</div>



<script>


const signupForm = document.getElementById('signup-form');
    const successMessage = document.getElementById('success-message');

    signupForm.addEventListener('submit', function(event) {
      event.preventDefault();

      // Get form data
      const formData = new FormData(signupForm);
      
      // Submit form data using fetch
      fetch(signupForm.getAttribute('action'), {
        method: 'POST',
        body: formData,
        headers: {
          'Accept': 'application/json'
        }
      })
      .then(response => {
        // Hide form
        signupForm.style.display = 'none';
        
        // Show success message
        successMessage.style.display = 'block';
      })
      .catch(error => {
        console.error(error);
      });
    });
</script>
