
<div class="sub">
 

<div id="bust" style="display: block;">
       
        <div class="subform">
            <form id="signup-form" class="forform" method="post" action="https://app.convertkit.com/forms/3277206/subscriptions">
                <input class="subEmail" type="email" name="email_address" required placeholder="your@email.com">
                <button type="submit" class="submitButton">Subscribe ✸</button>
            </form>
            <div id="success-message" class="success-message">
                <p >Congratulations 🎉</p>
                <p>In just a moment, you'll be receiving my welcome email.</p> 
                
        </div>
        

    </div>
</div>
</div>



<script>


const signupForm = document.getElementById('signup-form');
    const successMessage = document.getElementById('success-message');

    signupForm.addEventListener('submit', function(event) {
      event.preventDefault();

      // Get form data
      const formData = new FormData(signupForm);
      
      // Submit form data using fetch
      fetch(signupForm.getAttribute('action'), {
        method: 'POST',
        body: formData,
        headers: {
          'Accept': 'application/json'
        }
      })
      .then(response => {
        // Hide form
        signupForm.style.display = 'none';
        
        // Show success message
        successMessage.style.display = 'block';
      })
      .catch(error => {
        console.error(error);
      });
    });
</script>
