<!doctype html>
<html {% if section %} data-current="{{ section }}"{% endif %} lang="en">

	{% include "components/head.njk" %}

	<body>

		<header>
		{% include "components/nav.njk" %}
		</header>

		<main>
			{{ layoutContent | safe }}
		</main>

		{% include "components/footer.njk" %}

		<!-- DECAP CMS 
		<script>
			if (window.netlifyIdentity) {
			  window.netlifyIdentity.on("init", (user) => {
				if (!user) {
				  window.netlifyIdentity.on("login", () => {
					document.location.href = "/admin/";
				  });
				}
			  });
			}
		  </script>

-->
      {% set js %}
        {% include "assets/js/inline.js" %}
      {% endset %}
      <script>{{ js | jsmin | safe }}</script>
	</body>

</html>
