---
layout: layouts/base.njk
section: post
---
<article>
    <br>
    <p class="book-title">{{ title }}</p>
    <small>
        <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> ✸ {{ content | readingTime }} read
    </small>
    <br>
    <br>
    
    <!-- Container for Book Thumbnail & Meta -->
    <div class="book-container">
        <img src="{{ thumbnail }}" alt="{{ title }}" class="book-cover">
        {% set rating = rating | float %}

        <div class="book-meta">
            <p><strong>Author:</strong> {{ bauthor }}</p>
            <p><strong>Genre:</strong> {{ genre }}</p>
            <div class="star-rating" data-rating="{{ rating }}"></div> {{rating}}/5
        </div>
    </div>

    <div class="content">
        {{ content | safe }}
    </div>
    
    {% include "components/like.njk" %}
</article>

<br>
<hr>
<br>
<p>Subscribe to my newsletter for a monthly round-up of new blog posts and projects I’m working on!</p>
{% include "components/sub.njk" %}
<br>
<br>
<hr>

{% include "components/related.njk" %}
<br>
{% include "components/back.njk" %}

{% include "components/modalSub.njk" %}
<script>
document.addEventListener("DOMContentLoaded", function () {
  document.querySelectorAll(".star-rating").forEach((ratingEl) => {
    let rating = parseFloat(ratingEl.dataset.rating) || 0; // Ensure a valid number
    ratingEl.style.setProperty("--rating", rating); // Apply dynamic width
  });
});


</script>
