---
layout: layouts/base.njk
section: books
permalink: /books/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% include "components/spotify.njk" %}
{% set booklist = collections.book %}
{% include "components/allBooks.njk" %}