---
layout: layouts/base.njk
section: books
permalink: /books/index.html
---
<h1>{{ title }}</h1>

{{ layoutContent | safe }}

{% set booklist = collections.book %}
{% include "components/allBooks.njk" %}
<nav>
  <a href="/" class="back_link"">← home</a>
</nav>