---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
<p class="no_margin">Advik Samar</p>
<p class="grey no_margin subtext" >cyber criminal, privacy enthusiast, reader, writer</p>
<p class="serif">Posts</p>
{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
<!--
<p class="serif">Books</p>
{% set booklist = collections.book %}
{% include "components/booklist.njk" %}

<br>
<p class="no_margin serif">Reach out</p>
<span class="grey"><small>drop me a line: </small></span><a class="f_links" href="mailto:adviks@duck.com" class="reach">mail</a>
<a class="f_links grey" href="https://advik.substack.com/" target="_blank">newsletter</a>
<a class="f_links grey" href="#" target="_blank">telegram</a>


-->
