---
layout: layouts/base.njk
section: home
---

{{ layoutContent | safe }}
<p style="margin-top:0;" class="serif"><em>My mind's bursting with words, but my fingers are on strike!</em></p> 
<!-- <p class="serif">Writing</p> -->
{% set postslist = collections.post %}
{% include "components/postslist.njk" %}
<!--
<p>Books</p>
{% set booklist = collections.book %}
{% include "components/booklist.njk" %}
-->
<br>
<p class="serif" style="margin-bottom: 0;">Reach out</p>
<small>
You can reach out to me on <a rel="me" href="https://mas.to/@advik">Mastodon</a>. Or you can send me an email: <span class="email">adviks [at] duck [dot] com</span></small>
<br>

<p class="serif" style="margin-bottom: 0;">Newsletter</p>
<small>A not-so-regular newsletter.</small>
<br>
{% include "components/sub.njk" %}




