---
layout: layouts/base.njk
section: post
---
<article>
<br>

  <p class="title">{{ title }}</p>
   <small>   <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> ✸ {{ content | readingTime }} read</small>
  
<div class="content">{{ layoutContent | safe }}</div>

{% include "components/like.njk" %}
</article>
<br>
<hr>
<br>
 <p>Subscribe to my newsletter for a monthly round-up of new blog posts and projects I’m working on! </p>
{% include "components/sub.njk" %}
<br>
<br>
<hr>

{% include "components/related.njk" %}
<br>

{% include "components/back.njk" %}

{% include "components/modalSub.njk" %}



