<section>
  <h3>Related posts</h3>
  {% set currentTags = post.data.tags %}
  {% set relatedPosts = [] %}

  {% for postItem in postslist %}
    {% if postItem.url != url and postItem.data.tags %}
      {% for tag in postItem.data.tags %}
        {% if currentTags.includes(tag) %}
          {% set relatedPosts = relatedPosts.concat(postItem) %}
          {% break %}
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if relatedPosts.length >= 3 %}
      {% break %}
    {% endif %}
  {% endfor %}

  {% for postItem in relatedPosts | slice(0,3) %}
    <article class="post_list">
        <a href="{{ postItem.url | url }}" class="post_link">{{ postItem.data.title }}</a>
        <small class="post_date">
          <time datetime="{{ postItem.date | machineDate }}">
            {{ postItem.date | readableDate }}
          </time>
        </small>
    </article>
  {% endfor %}
</section>
