---
layout: layouts/base.njk
section: post
---

<article>
  <h1 class="no_margin title">{{ title }}</h1>

   <small>   <time datetime="{{ page.date | machineDate }}">{{ page.date | readableDate }}</time> </small>
  <!--  by <a href="/authors/{{ author | slug }}/">{{ author }}</a> -->
 
<div class="content">{{ layoutContent | safe }}</div>
  

  <!-- {% if tags %}
    <p>
    {% for tag in tags %}
      {%- if tag != "post" -%}
        {% set tagUrl %}/tags/{{ tag }}/{% endset %}
        <a href="{{ tagUrl | url }}" rel="tag">{{ tag }}</a>
      {%- endif -%}
    {% endfor %}
    </p>
  {% endif %} -->

</article>
<br>
<hr>
<br>
{% include "components/sub.njk" %}
<br>
<nav>
  <a href="{{ '/' | url }}" class="back_link">← back</a>
</nav>

