---
layout: layouts/base.njk
---
<h2>My Wall</h2>
<p>I don't like Twitter, but I like the shortform (microblogging) content. That is why I have created my own Twitter.</p>
{% set postslist = collections.wall %}
{% include "components/wall-list.njk" %}