---
layout: layouts/base.njk
---
<h2>My Wall</h2>
<p>I’m not a fan of Twitter, but I love the idea of short-form content. So, I built my own space for microblogging—without the noise.</p>
{% set postslist = collections.wall %}
{% include "components/wall-list.njk" %}